.dialog-style-to-fix {
  .el-dialog {
    background-color: $--background-color-base;
    // border: 1px solid $--border-color-base;
    border-radius: 8px;
    overflow: hidden;
  }
  .el-dialog__title {
    font-size: 20px;
  }
  .el-dialog__header {
    padding: 20px 30px;
    border-bottom: 1px solid $--border-color-base;
  }
  .el-dialog__body {
    padding: 30px;
  }
  .el-loading-spinner .path {
    stroke: $--color-text-primary;
  }
  .dialog__inner.el-loading-parent--relative .el-loading-mask {
    top: -30px;
    right: -30px;
    bottom: -30px;
    left: -30px;
  }
  .balance-hint {
    display: block;
    text-align: right;
    line-height: 20px;
    margin: 5px 0 10px;
    color: #858E99;
  }
  .dialog__hints {
    padding: 0;
    margin-top: 60px;
    color: $--color-text-regular;
    .hints-title {
      font-size: 18px;
      color: $--color-text-primary;
    }
    ul {
      padding-left: 20px;
      margin-top: 10px;
    }
    li {
      line-height: 1.7;
    }
  }
  .el-dialog__footer {
    padding: 0;
    .el-button {
      background-color: $--color-black;
      color: $--color-white;
      border-color: transparent;
      border-radius: 0;
      width: 100%;
      height: 100%;
      display: block;
      padding-top: 25px;
      padding-bottom: 25px;
      font-size: 20px;
      font-weight: bold;
      &:hover, &:active {
        background-color: mix($--color-white, $--color-black, 10%);
      }
    }
  }
  .el-dialog__close {
    font-size: 20px;
    color: $--color-text-primary;
    font-weight: 400;
    &:hover {
      color: inherit;
      opacity: 0.8;
    }
  }
  .el-form-item {
    margin-bottom: 10px;
  }
  .el-slider__marks-text {
    text-align: center;
  }
  .el-slider__marks-text:first-child {
    left: 11px !important;
    width: 22px;
  }
  .el-slider__marks-text:last-child {
    width: 32px;
    left: auto !important;
    right: -16px !important;
    color: #3ACB6E;
  }
  .input-hint {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 10px;
    color: $--color-text-secondary;
  }
  .el-input-group--append .el-input__inner {
    border-right: none;
  }
  .el-input-group__append {
    background-color: $--input-background-color;
    color: $--color-text-secondary;
    border-left: none;
    font-size: 15px;
    border: none;
  }
  .el-input.dialog-input  {
    .el-input__inner {
      height: 64px;
      // line-height: 72px;
      font-size: 20px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: $--input-background-color;
      color: $--color-text-primary;
      font-weight: bold;
      border: none;
      border-radius: 0;
    }
  }
  .el-slider__bar {
    background-color: transparent;
    background-image: linear-gradient(to right, #6ebbe2, #70EEA3);
  }
  .el-slider__button {
    width: 28px;
    height: 28px;
    border: 4px solid #70EEA3;
  }
  .el-slider__stop {
    width: 12px;
    height: 12px;
    top: 50%;
    margin-top: -6px;
  }
  .el-slider__stop:first-child {
    left: 6px !important;
  }
  .el-slider__stop:last-child {
    left: auto !important;
    right: -6px !important;
  }
}
