.btn--dark {
  color: $btn-dark-text;
  background-color: $btn-dark-bg;
  transition: all .25s ease-in-out;
  &:hover,
  &:active {
    background-color: lighten($btn-dark-bg, 10);
  }
  &:disabled {
    background-color: lighten($btn-dark-bg, 15);
  }
}