@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.eot');
  src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-regular.woff2') format('woff2'),
       url('../fonts/roboto-regular.woff') format('woff'),
       url('../fonts/roboto-regular.svg#Roboto') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'milliard';
  src: url('../fonts/milliard-hairline-webfont.eot');
  src: url('../fonts/milliard-hairline-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/milliard-hairline-webfont.woff2') format('woff2'),
       url('../fonts/milliard-hairline-webfont.woff') format('woff'),
       url('../fonts/milliard-hairline-webfont.svg#milliardhairline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'milliard';
  src: url('../fonts/milliard-light-webfont.eot');
  src: url('../fonts/milliard-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/milliard-light-webfont.woff2') format('woff2'),
       url('../fonts/milliard-light-webfont.woff') format('woff'),
       url('../fonts/milliard-light-webfont.svg#milliardlight') format('svg');
  font-weight: 200;
  font-style: normal;

}

@font-face {
  font-family: 'milliard';
  src: url('../fonts/milliard-medium-webfont.eot');
  src: url('../fonts/milliard-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/milliard-medium-webfont.woff2') format('woff2'),
       url('../fonts/milliard-medium-webfont.woff') format('woff'),
       url('../fonts/milliard-medium-webfont.svg#milliardmedium') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'milliard';
  src: url('../fonts/milliard-semibold-webfont.eot');
  src: url('../fonts/milliard-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/milliard-semibold-webfont.woff2') format('woff2'),
       url('../fonts/milliard-semibold-webfont.woff') format('woff'),
       url('../fonts/milliard-semibold-webfont.svg#milliardsemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}
