.clearfix {
  // @include clearfix();
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.hidden {
  display: none !important;
}
