.dialog--deposit,
.dialog--borrow,
.dialog--withdraw,
.dialog--repay,
.dialog--dark {
  .el-dialog {
    background-color: $color-dialog-bg;
    border: 1px solid $color-dialog-border;
    border-radius: 8px;
    overflow: hidden;
  }
  .el-dialog__title {
    font-size: 24px;
  }
  .el-dialog__header {
    padding: 15px 30px;
    border-bottom: 1px solid $color-border;
  }
  .el-dialog__body {
    padding: 20px 30px 40px;
  }
  .el-dialog__footer {
    padding: 0;
  }
  .el-loading-spinner .path {
    stroke: $color-text;
  }
}
.v-modal {
  opacity: 0.9;
}

.dialog--tokens {
  .el-dialog__body {
    padding: 0;
    height: 550px;
  }
}
.apy-popover {
  padding: 0;
  border-radius: 8px;
  border: none;
  .el-table {
    border-radius: 8px;
    overflow: hidden;
  }
  .el-table__header,
  .el-table th {
    background-color: #f9f9f9;
  }
  .el-table__header,
  .el-table__body {
    padding-left: 15px;
    padding-right: 15px;
  }
  .el-table__header {
    font-size: 14px;
    color: #000000;
  }
  .el-table td, .el-table th.is-leaf {
    border: none;
  }
}

.el-button--small,
.el-button--small.is-round {
  padding-top: 7px;
  padding-bottom: 7px;
}

.el-notification {
  box-shadow: 0px 9px 30px 8px rgba(119, 126, 144, 0.05);
  border-radius: 4px;
  padding: 25px 20px;
}
.el-notification__title {
  font-size: 18px;
  font-weight: normal;
  color: #000;
}
.el-notification__content {
  color: #353945;
  font-size: 14px;
  line-height: 20px;
  a {
    color: $color-text;
    text-decoration: underline;
  }
}