@import "~element-ui/packages/theme-chalk/src/mixins/_button.scss";

.el-table {
  // background-color: $--background-color-base;
  // .el-loading-mask {
  //   background-color: rgba($--background-color-base, 0.9);
  // }
  // tr, th {
  //   background-color: $--background-color-base;
  // }
  th, thead {
    font-weight: normal;
  }
  &.no-bottom-border {
    &::before {
      display: none;
    }
    .el-table__row:last-child td {
      border-bottom-color: transparent;
    }
  }
}

.el-card {
  // background-color: $--background-color-base;
  // .el-loading-mask {
  //   background-color: rgba($--background-color-base, 0.9);
  // }
}

.el-dialog {
  border-radius: 8px;
  overflow: hidden;
  .el-loading-mask {
    background-color: rgba($--background-color-base, 0.9);
  }
  .el-dialog__header {
    padding: ($--dialog-padding-primary + 5px) ($--dialog-padding-primary + 10px) $--dialog-padding-primary;
    border-bottom: 1px solid $--border-color-lighter;
    .el-dialog__title {
      font-weight: bold;
    }
  }
  .el-dialog__headerbtn {
    top: $--dialog-padding-primary + 5px;
    font-size: $--dialog-title-font-size;
    .el-dialog__close {
      color: $--link-color;
    }
    &:focus, &:hover {
      .el-dialog__close {
        color: $--link-hover-color;
      }
    }
  }
  .el-dialog__body {
    padding: $--dialog-padding-primary ($--dialog-padding-primary + 10px);
  }
  .el-dialog__footer {
    padding: $--dialog-padding-primary ($--dialog-padding-primary + 10px);
    // padding: 0;
    .call-to-action {
      margin: (-$--dialog-padding-primary) (-($--dialog-padding-primary + 10px));
      .el-button {
        border-radius: 0;
        width: 100%;
        height: 100%;
        display: block;
        padding: 25px;
        font-size: $--font-size-extra-large;
        font-weight: bold;
      }
    }
  }
}

.el-button {
  &.el-button--text{
    color: $--color-black;
    &:hover, &:focus {
      color: mix($--color-white, $--color-black, $--button-hover-tint-percent);
    }
    &:active {
      color: mix($--color-black, $--color-black, $--button-active-shade-percent);
    }
    &.is-loading::before {
      background-color: transparent;
    }
  }
}

.el-button--dark {
  @include button-variant($--color-white, $--color-black, $--color-black);
  &.is-disabled {
    background-color: $--color-black;
    border-color: $--color-black;
    &:hover, &:focus, &:active {
      background-color: mix($--color-white, $--color-black, 20%);
      border-color: mix($--color-white, $--color-black, 20%);
    }
  }
}

.el-loading-spinner {
  margin-top: 0;
  transform: translateY(-50%);
  i {
    color: $--color-text-primary;
  }
}

.v-modal {
  opacity: 0.6;
}

.el-button--small,
.el-button--small.is-round {
  padding-top: 7px;
  padding-bottom: 7px;
}

// Notification styles
.el-notification {
  box-shadow: 0px 9px 30px 8px rgba(119, 126, 144, 0.05);
  border-radius: 4px;
  padding: 25px 20px;
}
.el-notification__title {
  font-size: 18px;
  color: $--color-text-primary;
}
.el-notification__content {
  color: $--color-text-secondary;
  text-align: left;
  a {
    text-decoration: underline;
  }
}

// Message styles
.el-message {
  padding: 25px 20px;
  // TODO: override 样式别随便加 !important, 想办法逐个类型覆盖
  background: $--color-white !important;
  box-shadow: 0px 9px 30px 8px rgba(119, 126, 144, 0.05);
  border-radius: 8px;
  border: none;
}
.el-message__content {
  // TODO: override 样式别随便加 !important, 想办法逐个类型覆盖
  color: $--color-text-primary !important;
  font-weight: normal;
}

.el-descriptions__body,
.el-descriptions-item__label.is-bordered-label {
  // background-color: $--background-color-base;
}

.tables-popover {
  padding: 0;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  .el-table::before {
    display: none;
  }
  .el-table td,
  .el-table th {
    border-color: transparent;
  }
  .el-table th {
    background-color: #f9f9f9;
  }
}
