$color-text: #000000 !default;
$color-text-light: #999999 !default;
$color-warning: #FF6838 !default;
$btn-dark-bg: #000000 !default;
$btn-dark-text: #ffffff !default;

$color-border: #e0e0e0 !default;